@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Black.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Book.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ITCAvantGardeStd";
  src: url("fonts/ITCAvantGardeStd-Demi.otf");
  font-weight: 600;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}

#es-maybelline.es-maybelline {
  font-family: "Gotham", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;
}
#es-maybelline.es-maybelline * {
  box-sizing: border-box;
}
#es-maybelline.es-maybelline h2,
#es-maybelline.es-maybelline h3,
#es-maybelline.es-maybelline h4,
#es-maybelline.es-maybelline h5 {
  font-family: "Gotham", sans-serif;
  color: #000;
}
#es-maybelline.es-maybelline .es-section__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: -1px;
  margin-bottom: 56px;
  font-family: "Gotham", sans-serif;
  text-align: center;
  color: #753934;
}
#es-maybelline.es-maybelline .es-section__title span {
  font-weight: 300;
}
#es-maybelline.es-maybelline .es-kv {
  min-height: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  background-color: #fbecea;
  background-image: url(images/kv-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#es-maybelline.es-maybelline .es-kv__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#es-maybelline.es-maybelline .es-kv__logo {
  max-width: 200px;
  margin: 24px;
}
#es-maybelline.es-maybelline .es-kv__title {
  background-color: #753934;
  width: 200%;
}
#es-maybelline.es-maybelline .es-kv__title img {
  max-width: 320px;
  padding: 24px;
  margin: 0 24px;
}
#es-maybelline.es-maybelline .es-kv__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  max-width: 300px;
  color: #753934;
  margin: 24px;
}
#es-maybelline.es-maybelline .es-kv__img {
  width: 100%;
  height: 100%;
}
#es-maybelline.es-maybelline .es-kv__img img {
  width: 100%;
  height: 100%;
}
#es-maybelline.es-maybelline .es-features {
  margin-bottom: 22px;
}
#es-maybelline.es-maybelline .es-features__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 0 16px;
  padding-top: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: -1px;
  margin-bottom: 16px;
  text-align: center;
  font-family: "ITCAvantGardeStd", sans-serif;
}
#es-maybelline.es-maybelline .es-features__title span {
  font-weight: 300;
}
#es-maybelline.es-maybelline .es-features__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #753934;
  text-align: center;
}
#es-maybelline.es-maybelline .es-features__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
#es-maybelline.es-maybelline .es-features__img {
  padding: 32px;
}
#es-maybelline.es-maybelline .es-features__img img {
  width: 100%;
  height: 100%;
}
#es-maybelline.es-maybelline .es-features__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#es-maybelline.es-maybelline .es-features__content li, #es-maybelline.es-maybelline .es-features__content p {
  color: #753934;
}
#es-maybelline.es-maybelline .es-features__content li {
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}
#es-maybelline.es-maybelline .es-features__content li::before {
  display: none;
  content: url(images/line-1.png);
  max-width: 200px;
  position: absolute;
  right: 310px;
  top: 20px;
}
#es-maybelline.es-maybelline .es-features__content p {
  margin-bottom: 40px;
}
#es-maybelline.es-maybelline .es-benefits__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
#es-maybelline.es-maybelline .es-benefits__packshot img {
  width: 100%;
  height: 100%;
}
#es-maybelline.es-maybelline .es-benefits__content {
  height: 100%;
  min-height: 300px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fbecea;
}
#es-maybelline.es-maybelline .es-benefits__title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #753934;
}
#es-maybelline.es-maybelline .es-benefits__title span {
  font-size: 30px;
}
#es-maybelline.es-maybelline .es-benefits .es-benefits__title::after {
  content: "";
  display: block;
  background-color: #753934;
  width: 180px;
  height: 2px;
  margin-top: 20px;
}
#es-maybelline.es-maybelline .es-benefits__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #753934;
}
#es-maybelline.es-maybelline .es-benefits__text--one {
  order: 1;
}
#es-maybelline.es-maybelline .es-benefits__img--one {
  order: 2;
}
#es-maybelline.es-maybelline .es-benefits__text--two {
  order: 3;
}
#es-maybelline.es-maybelline .es-benefits__img--two {
  order: 4;
}
#es-maybelline.es-maybelline .es-products {
  background-color: #c6a49a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#es-maybelline.es-maybelline .es-products .es-section__title {
  color: #fff;
  padding-top: 30px;
  font-size: 30px;
}
#es-maybelline.es-maybelline .es-products__img {
  display: block;
  width: 100%;
}
#es-maybelline.es-maybelline .es-products__img img {
  max-width: 100%;
}
#es-maybelline.es-maybelline .es-products__single {
  width: 100%;
  padding: 20px;
  text-align: center;
}
#es-maybelline.es-maybelline .es-products__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}
#es-maybelline.es-maybelline .es-products__desc {
  color: #fff;
  font-size: 14px;
}
#es-maybelline.es-maybelline .es-trends {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
#es-maybelline.es-maybelline .es-trends__img {
  width: 100%;
  height: 100%;
}
#es-maybelline.es-maybelline .es-trends__img img {
  width: 100%;
}
#es-maybelline.es-maybelline .es-trends__content {
  padding: 16px 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #753934;
}
#es-maybelline.es-maybelline .es-trends__title {
  color: #753934;
  text-transform: uppercase;
}
#es-maybelline.es-maybelline .es-trends__title::after {
  content: "";
  display: block;
  background-color: #753934;
  width: 180px;
  height: 2px;
  margin-top: 20px;
}
#es-maybelline.es-maybelline .es-trends__text--expert {
  font-weight: 700;
}
#es-maybelline.es-maybelline .es-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/video-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fbecea;
  min-height: 400px;
}
#es-maybelline.es-maybelline .es-video__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  color: #753934;
  text-align: center;
  padding: 30px;
}
#es-maybelline.es-maybelline .es-video__text {
  color: #753934;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
#es-maybelline.es-maybelline .es-video__video {
  width: 100%;
  height: 500px;
  padding: 32px;
}
#es-maybelline.es-maybelline .es-video__video iframe {
  width: 100%;
  height: 100%;
}
#es-maybelline.es-maybelline .es-colors {
  width: 100%;
  background-color: #fbecea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#es-maybelline.es-maybelline .es-colors__title {
  color: #753934;
  text-transform: uppercase;
  text-align: center;
  padding-top: 12px;
}
#es-maybelline.es-maybelline .es-colors__title span {
  font-weight: lighter;
}
#es-maybelline.es-maybelline .es-colors__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  padding: 32px;
}
#es-maybelline.es-maybelline .es-colors__single {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 2px;
  max-width: 180px;
}
#es-maybelline.es-maybelline .es-colors__img {
  margin-top: 20px;
  width: 100%;
}
#es-maybelline.es-maybelline .es-colors__img img {
  width: 100%;
}
#es-maybelline.es-maybelline .es-colors__text {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #753934;
  font-weight: 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}
#es-maybelline.es-maybelline .es-colors__text p, #es-maybelline.es-maybelline .es-colors__text h2 {
  margin: 5px 0;
}
#es-maybelline.es-maybelline .es-colors__title--single {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
#es-maybelline.es-maybelline .es-disc {
  background-color: #fbecea;
  padding: 32px;
}
#es-maybelline.es-maybelline .es-disc__text {
  text-align: center;
  font-size: 10px;
  color: #753934;
  margin: 0;
}
#es-maybelline.es-maybelline .es-cross {
  padding: 40px 16px;
  background-color: #fbecea;
}
#es-maybelline.es-maybelline .es-cross__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 16px;
  color: #753934;
  text-align: center;
}
#es-maybelline.es-maybelline .es-cross__title span {
  font-weight: 300;
}
#es-maybelline.es-maybelline .es-cross__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 25px;
}
#es-maybelline.es-maybelline .es-cross__content p {
  line-height: 25px;
  color: #753934;
}
#es-maybelline.es-maybelline .es-cross__content span {
  font-weight: 700;
}
#es-maybelline.es-maybelline .es-cross__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 32px 25px;
}
#es-maybelline.es-maybelline .es-cross__single {
  max-width: 200px;
  display: flex;
  align-items: center;
  flex-flow: column;
}
#es-maybelline.es-maybelline .es-cross__packshot {
  margin-bottom: 16px;
  padding-bottom: 16px;
  width: 100%;
}
#es-maybelline.es-maybelline .es-cross__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-maybelline.es-maybelline .es-cross__name {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  font-family: "ITCAvantGardeStd", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 18px;
  color: #753934;
}
#es-maybelline.es-maybelline .es-cross__desc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #753934;
}
#es-maybelline.es-maybelline .es-cross__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  background: #753934;
  color: #fbecea;
  text-decoration: none;
  padding: 10px 25px;
  font-weight: 700;
  font-family: "ITCAvantGardeStd", sans-serif;
  text-align: center;
  display: inline-block;
}
#es-maybelline.es-maybelline .es-models {
  background-image: url(images/models.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 550px;
  display: flex;
  justify-content: center;
}
#es-maybelline.es-maybelline .es-models__img {
  margin: auto 0;
  margin-bottom: 20px;
  max-width: 320px;
}
#es-maybelline.es-maybelline .es-footer {
  background-color: #fbecea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
#es-maybelline.es-maybelline .es-footer__logo img {
  max-width: 200px;
}
@media screen and (min-width: 768px) {
  #es-maybelline.es-maybelline .es-kv__img {
    width: 100%;
    height: 100%;
  }
  #es-maybelline.es-maybelline .es-kv__img img {
    width: 120%;
    height: 100%;
    margin-left: -150px;
  }
  #es-maybelline.es-maybelline .es-products {
    display: block;
    position: relative;
    background-image: url(images/products-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 600px;
  }
  #es-maybelline.es-maybelline .es-products__img {
    display: none;
  }
  #es-maybelline.es-maybelline .es-products__single {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    text-align: left;
  }
  #es-maybelline.es-maybelline .es-products__single--first {
    position: absolute;
    top: 150px;
  }
  #es-maybelline.es-maybelline .es-products__single--second {
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
  #es-maybelline.es-maybelline .es-products__single--third {
    position: absolute;
    bottom: 50px;
  }
  #es-maybelline.es-maybelline .es-benefits__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #es-maybelline.es-maybelline .es-benefits__text--one {
    order: 1;
  }
  #es-maybelline.es-maybelline .es-benefits__img--one {
    order: 2;
  }
  #es-maybelline.es-maybelline .es-benefits__text--two {
    order: 4;
  }
  #es-maybelline.es-maybelline .es-benefits__img--two {
    order: 3;
  }
  #es-maybelline.es-maybelline .es-features__content li::before {
    display: block;
  }
  #es-maybelline.es-maybelline .es-cross__img {
    transition: all 0.3s;
  }
  #es-maybelline.es-maybelline .es-cross__link {
    transition: color 0.3s;
  }
  #es-maybelline.es-maybelline .es-cross__single:hover .es-cross__img {
    transform: scale(1.05);
  }
  #es-maybelline.es-maybelline .es-cross__single:hover .es-cross__link {
    color: #753934;
    outline: 2px solid #753934;
    background-color: #fbecea;
  }
}
@media screen and (min-width: 998px) {
  #es-maybelline.es-maybelline .es-kv__img {
    width: 100%;
    height: 100%;
  }
  #es-maybelline.es-maybelline .es-kv__img img {
    width: 120%;
    height: 100%;
    margin-left: -150px;
  }
  #es-maybelline.es-maybelline .es-kv__title img {
    max-width: 400px;
  }
  #es-maybelline.es-maybelline .es-products {
    display: block;
    position: relative;
    background-image: url(images/products-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 600px;
  }
  #es-maybelline.es-maybelline .es-products__img {
    display: none;
  }
  #es-maybelline.es-maybelline .es-products__single {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    text-align: left;
  }
  #es-maybelline.es-maybelline .es-products__single--first {
    position: absolute;
    top: 150px;
  }
  #es-maybelline.es-maybelline .es-products__single--first .es-products__title::before {
    display: inline-block;
    content: "";
    width: 300px;
    height: 90px;
    background-image: url(images/line-1-1.png);
    background-size: 300px 90px;
    position: absolute;
    top: -55px;
    right: -290px;
  }
  #es-maybelline.es-maybelline .es-products__single--second {
    position: absolute;
    right: 10px;
    bottom: 160px;
  }
  #es-maybelline.es-maybelline .es-products__single--second .es-products__title::before {
    display: inline-block;
    content: "";
    width: 200px;
    height: 55px;
    background-image: url(images/line-2.png);
    background-size: 200px 55px;
    position: absolute;
    bottom: -120px;
    left: -120px;
  }
  #es-maybelline.es-maybelline .es-products__single--third {
    position: absolute;
    bottom: 50px;
  }
  #es-maybelline.es-maybelline .es-products__single--third .es-products__title::before {
    display: inline-block;
    content: "";
    width: 200px;
    height: 55px;
    background-image: url(images/line-3.png);
    background-size: 200px 55px;
    position: absolute;
    top: -80px;
    right: -90px;
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideright {
  0% {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideright {
  0% {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */